# Virtual environment
venv/

# Environment variables
.env

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
build/
dist/

# Logs and databases
*.log
*.sqlite3

# IDE/editor settings
.vscode/
.idea/
